<!-- app/views/models/show.html.erb -->
<h1>Model</h1>
<br>
<h3><%= "Model name: #{@model.name}" %></h1>
<h3><%= "Year of Production: #{@model.year}" %></h2>
<br>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_brand_model_path(@model.brand, @model), class: 'btn btn-warning' %>
<% end %>
<%= link_to 'Back to Models', brand_path(@model.brand), class: 'btn btn-secondary' %>