<!-- app/views/admin/models/show.html.erb -->
<h1>Model</h1>
<br>
<h3><%= "Model name: #{@model.name}" %></h1>
<h3><%= "Year of Production: #{@model.year}" %></h2>
<br>

<%= link_to 'Edit', edit_admin_brand_model_path(@model), class: 'btn btn-warning' %>
<%= link_to 'Back to Models', admin_brand_path(@model.brand), class: 'btn btn-secondary' %>